mixin basicInfoAboutRoom( { price, room, serviceClass } )
  .basicInfoAboutRoom
      .basicInfoAboutRoom__room
        span.basicInfoAboutRoom__number= "№ "
        span.basicInfoAboutRoom__room=room + " "
        span.basicInfoAboutRoom__service-class=serviceClass
      .basicInfoAboutRoom__price-per-day
        span.basicInfoAboutRoom__price=price
        span="₽ "
        span.basicInfoAboutRoom__text в сутки 