mixin likes(options)
  .likes
    label.likes__label
      input.likes__btn(
        type="checkbox"
        name=options.name
        value="1" 
        checked=options.checked
      )
      span.likes__style
    span.likes__counter=options.number