include ../date-dropdown/date-dropdown.pug 
include ../dropdown/dropdown.pug 
include ../button/button.pug
include ../basicInfoAboutRoom/basicInfoAboutRoom.pug

mixin booking-card(options)
  - let { room, serviceClass, price, discount, 
  - additionalServiceCharge, dates, serviceCharge, 
  - guests, inputValue } = options

  form.booking-card#bookingCard
    +basicInfoAboutRoom({
      price,
      room,
      serviceClass
    })
    
    +date-dropdown( { 
      class: "booking-card__date-dropdown",
      id: "booking-card", 
      label1: "прибытие", 
      label2: "выезд",
      dates: options.dates 
    })

    div.label 
      span.label__text гости
      +dropdown({ type: "guests", guests: guests, value: inputValue  })
 
    .booking-card__item
      .booking-card__formula
        span.booking-card__price=price
        span="₽" + " x "
        span.booking-card__number-of-days
      .bookung-card__right
        span.booking-card__price
        span="₽"

    .booking-card__item
      .booking-card__left
        .booking-card__discount
          span="Сбор за услуги: скидка " 
          span.booking-card__price=discount 
          span="₽"
        img(src="../src/blocks/booking-card/info-min.svg", alt="")
      .booking-card__right.booking-card__serviceCharge
        span.booking-card__price=serviceCharge
        span="₽"
      
    .booking-card__item
      .booking-card__left
        .booking-card__service-charge="Сбор за дополнительные услуги"
        img(src="../src/blocks/booking-card/info-min.svg", alt="")
      .booking-card__right.booking-card__additionalServiceCharge
        span.booking-card__price=additionalServiceCharge
        span="₽"

    .booking-card__bottom 
      span.booking-card__left Итого
      .booking-card__right
        span.booking-card__price
        span="₽"

    +button({
      type: "submit",
      name: "button",
      value: "забронировать",
      modifiers: ["button_large"]
    })