mixin text-field(options)
  input.text-field( 
    type=options.type 
    name=options.name
    placeholder=options.placeholder
    class=(options.theme) ? "text-field_" + options.theme : ""
    id=options.id
    readonly=options.readonly
    tabindex=options.tabIndex
    data-mask=options.mask
    value=options.value
  )  